[Unit]
Description=X11 pulse volume bar
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/bin/sh -c "pactl subscribe | pulse_watcher.py | xob"
# Must after pulseaudio, otherwire "no default sink" err will arise.
# But cannot figure out which pulseaudio service, use restart as
# a workaround.
Restart=always
RestartSec=1
OOMScoreAdjust=-1000

[Install]
WantedBy=graphical-session.target
