[Unit]
Description=Simple X hotkey daemon
PartOf=xsession.target
After=xsession.target

[Service]
# Use bash with lc flag to inherit environment variables
ExecStart=/usr/bin/bash -lc sxhkd
OOMPolicy=continue

[Install]
WantedBy=xsession.target
