[Unit]
Description=Start xidlehook
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/start_xidlehook.sh

[Install]
WantedBy=graphical-session.target
