[Unit]
Description=Dunst --- the notification daemon
PartOf=graphical-session.target
After=graphical-session.target picom.service

[Service]
ExecStart=/usr/bin/dunst
OOMScoreAdjust=-1000

[Install]
WantedBy=graphical-session.target
