[Unit]
Description=Drop any files to any devices on your LAN.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/landrop
# Must after Qt
Type=idle
Restart=always
RestartSec=5
OOMScoreAdjust=-1000

[Install]
WantedBy=default.target
WantedBy=graphical-session.target
