[Unit]
Description=A cross-platform application which using mpv as DLNA Media Renderer.

[Service]
ExecStart=/usr/bin/macast-gui
OOMScoreAdjust=-1000

[Install]
WantedBy=default.target
