[Unit]
Description=A Solution to your Wayland Wallpaper Woes
PartOf=wayland-session.target
After=wayland-session.target

[Service]
ExecStart=/usr/bin/swww init
OOMScoreAdjust=-1000

[Install]
WantedBy=wayland-session.target
