[Unit]
Description=An X11 tool to hide cursor
PartOf=xsession.target
After=xsession.target

[Service]
ExecStart=/usr/bin/unclutter
OOMScoreAdjust=-1000

[Install]
WantedBy=xsession.target
