[Unit]
Description=Xsettings daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=graphical-session.target
