# No bell
xset -b

# Chromium auto proxy detect
export auto_proxy

# proxy
~/gnome_proxy.py
export http_proxy="http://localhost:7890"
export https_proxy="http://localhost:7890"

# Local bin
export PATH="$PATH:$HOME/.local/bin"
