# No bell
xset -b
# Font setting
xsettingsd &

# export http_proxy="http://localhost:7890"
# export https_proxy="http://localhost:7890"
# Chromium auto proxy detect
export auto_proxy

brightness_watcher.py | xob &
pulse_volume_watcher.py | xob &

# Hotkey management
sxhkd &

flashfocus_wrapper.py &

dunst &

feh --bg-fill "$HOME/Pictures/wallpapers/wallpaper"

# proxy
~/gnome_proxy.py

# Multi-head
~/.screenlayout/dual-monitor.sh
