[Unit]
Description=X11 compositor
PartOf=xsession.target
After=xsession.target

[Service]
ExecStart=/usr/bin/picom
OOMScoreAdjust=-1000

[Install]
WantedBy=xsession.target
